#left-col, #right-col{
    display: inline-block;
    vertical-align: top;
}
#left-col{
    width:64.5%;
}
#right-col{
    width: 34.5%;
}
.content-list-view{
    height:calc(100vh - 50px - 75px);
    overflow-y: scroll;
}
.content-list-view-message {
    display: flex;
}
.content-list-view-message > img{
    width:48px;
    height: 54px;
}
.content-list-view-message > *{
    display: inline-block;
    vertical-align: middle;
}
.message-content{flex-grow: 1;}
.message-datetime{
    min-width:100px; 
    text-align: center;
}
.content-list-view-user {
    display: flex;
    padding: 8px;
}
.content-list-view-user > div{
    vertical-align: baseline;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center;
}
.content-list-view-user > img{
    width:70px;
    height: 80px;
    margin: 20px;
}
h2{
    color:skyblue  ;
    text-decoration: underline tomato;
}
.user-name{ text-shadow: 10px 10px 25px black;}
/* pseudo classes */
.content-list-view-user:hover{
    background-color: lightblue;
}
#tchat-second-row form{
    display: flex;
}
#message-value{
    flex-grow: 1;
}
#tchat-second-row > form > *{
    margin-left :10px;
}
